<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
</head>
<body>
<body style="height: 100%">

<input name="listname" #listname ngModel type="text"><button (click)="submitNewItem(listname.value)">Add</button>

<table style="width: 50%" border="1">
  <tr>
    <td>
      task
    </td>
    <td>delete</td>
  </tr>
  <tr *ngFor="let item of items">
    <td>
      <span>{{item}}</span></td><td><button (click)="deleteItem(item)">delete</button></td>
  </tr>
</table>
</body>

</body>
</html>