<div class="parent-container">
    <div class="child-container">
      <h2>Please Submit Ypur Email ID
    </h2>
      <br><br><br>
      <form>
        <div class="form-group">
          <label>Subscribe to our news letter:</label><br><br>
          <div class="form-group col-lg-4 col-lg-offset-4">
            <input type="text" class="form-control" placeholder="name@example.com"/>
          </div>
          <br>
          <button class="btn btn primary col-lg-2 col-lg-offset-5">Submit</button>
          <br>
          <br>
          <br><br><br><a href="https://www.umkc.edu"><img src="https://ewscripps.brightspotcdn.com/dims4/default/9212bdd/2147483647/strip/true/crop/640x360+0+60/resize/1280x720!/quality/90/?url=https%3A%2F%2Fmediaassets.kshb.com%2Fphoto%2F2015%2F02%2F01%2Fumkc1_1422811200282_12927592_ver1.0_640_480.JPG" alt="UMKC" style="width: 150px; height:100px"></a>
        </div>
      </form>
    </div>
    
    <br><br><br><br><br><br><br><br>
    <br>
  </div>
  