.image{
  height:100%; background-size:cover; width:100%;
  background-image:url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/504400/cd2e6e5aa573e9dc9a6da6f99fa557dc817cb78b.jpg');
  background-position:50% 50%;

}
